/*RESET*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}

/*HEADER*/
.oculto {
    display: none !important;
}

header{
    height: 100px;
    background-color: white;
    padding: 0 50px;    
    color: black;
    display: flex;
    align-items: center;
}
.Btn {
    --black: #000000;
    --ch-black: #141414;
    --eer-black: #1b1b1b;
    --night-rider: #2e2e2e;
    --white: #ffffff;
    --af-white: #f3f3f3;
    --ch-white: #e1e1e1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: var(--night-rider);
}


.sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign svg {
    width: 17px;
}

.sign svg path {
    fill: var(--af-white);
}

.text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: var(--af-white);
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
}

.Btn:hover {
    width: 125px;
    border-radius: 5px;
    transition-duration: .3s;
}

.Btn:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 20px;
}

.Btn:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
}

.Btn:active {
    transform: translate(2px ,2px);
}
.carrito-sidebar {
    position: fixed;
    top: 0;
    right: -600px; 
    width: 500px;
    height: 100vh;
    background: white;
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease-in-out;
    z-index: 1000;
    padding: 20px;
    display: flex;
    flex-direction: column;
 
}


.carrito-sidebar.active {
    right: 0;
}


.cerrar-carrito {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 15px;
}


.carrito-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    padding-left: 50px;
}


.carrito-contenido {
    display: flex;
    flex: 1;
    overflow-y: auto;
    justify-content:start;
     max-width: 100%;
    
}

.logo{
    height: 180px;
    width: 280px;
    transition: 1.5s;
}

.logo:hover{
    transform: scale(1.1);
}

.menu{
    display: flex;
    justify-content: center; /* Centra el contenido dentro del contenedor del menú */
    flex-grow: 1;
}

.menu ul li{
    display: inline;
} 
.menu ul li a{
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    padding: 0 20px;
    padding-right: 100px;
    transition: 0.4s;
}

.mostrar-menu,
.esconder-menu{
    font-size: 30px;
    cursor: pointer;
    display: none;
    transition: 0.4s;
}

.mostrar-menu{
    order: 1;
}

.menu ul li a:hover,
.mostrar-menu:hover,
.esconder-menu:hover{
    color: brown;
}

#check{
    display: none;
}

.div1{
    height: 10px;
    background-color: white;
}

#contenedorcarrusel{
    height: 500px;
    padding-left: 200px;
    padding-right: 200px;
    overflow: hidden;    
}

.carruselitem{
    height: 100%;
    position: relative;
}

.tarjeta {
    background-color: rgb(255, 255, 255);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; /* Centra la imagen verticalmente */
    overflow: hidden; /* Evita que la imagen sobresalga */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    
}

.tarjeta img {
    width: 100%; /* Que ocupe todo el ancho disponible */
    height: 100%; /* Que ocupe toda la altura */
    padding-top: 100px;
    object-fit: cover; /* Recorta la imagen sin deformarla */
    border-radius: 10px; /* Para que la imagen también tenga bordes redondeados */
}


#a img{
    object-fit: cover;
}

a{
    text-decoration: none;
}

#a{
    background-color: #192163;
}

#b{
    background-color: rgb(153, 94, 17);
}

#c{
    background-color: rgb(181, 233, 151);
}

.tarjeta img{
    height: 600px;
    width: 100%;
}

.flecha{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 20px;
}


i{
    color: white;
    font-size: 50px;
}

.contenedorpuntos{
    display: flex;
    justify-content: center;
}

.contenedorpuntos a{
    padding-top: 5px;
    padding-right: 15px;
}

.contenedorpuntos a i{
    font-size: 15px;
    color: black;
}

/* PRODUCTOS */

.item figure img{
    border-radius: 10px 10px 0 0;
    max-width: 100%;
}

.container-item{
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.item{
    border-radius: 10px;
    transition: box-shadow 0.3s ease;
}

.item:hover{
    box-shadow: 0 10px 20px black;
}

.info-producto{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(255, 255, 255);
    padding: 10px 20px;
}

.item img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: all .5s;
}

.item figure{
    overflow: hidden;
}

.item:hover img{
    transform: scale(1.2);
}

.precio{
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    width: 50%;
    margin: 0 auto;
    font-size: 30px;
}

.info-producto p{
    text-align: center;
}

.boton{
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
    color: white;
    background-color: black;
}

.boton a{
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
    padding: 15px;
}

.boton:hover{
    background-color: orangered;
}

/* ITEMS SEPARADOS */
.bodysolo{
    background-color: #f5f1f1 ;
}


.container-item1 {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;  /* Centrado horizontal */
    align-items: center;      /* Centrado vertical */
}

.item1 {
    width: 65%;
    height: 100%;
    background-color:white;
    display: flex;
    flex-direction: row;    /* Apilar los elementos verticalmente */
           /* Centrado horizontal de los elementos dentro de item1 */
    padding: 50px;
    border-radius: 20px;
}

.item1 figure{
    color: white;
    display: flex;
    width: 500px;
    height: 500px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: 30px;
}

.item1 figure img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.info-producto h2, 
.info-producto ul li, 
.info-producto p
{    
     text-align: center;
}

.info-producto1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*background-color: #029bf9;*/
    width: 40%;
    margin-top: 50px;
    margin-right: 50px;
}

.info-producto1 ul{
    margin-top: 30px;
}

.info-producto1 ul li{
    font-size: 20px;
    margin-top: 20px;
    margin-left: 50px;
}

.precio1{
    /*background-color: #029bf9;*/
    font-size: 50px;
    margin-top: 50px;
    text-align: center;
}

.itemboton{
    display: flex;
    justify-content: center;
}

.boton1 a {
    text-decoration: none;
    color: inherit; /* Asegura que herede el color del botón */
}

.boton1{
    color: white;
    background-color: black;
    margin-top: 50px;
    padding: 15px;
    width: 50%;
}

.boton1:hover{
    background-color: orangered;
}

.infoenvio{
    margin-top: 50px;
    width: auto;
    height: auto;
}

.infoenvio h2{
    font-size: 50px;
}

.infoenvio h2,
.infoenvio h3
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 50px;
    margin-left: 500px;
    margin-right: 500px;
    text-align: center;
}

.infoenvio h3{
    font-size: 28px;
    font-weight: 100;
}

/* SOBRE NOSOTROS */
.info{
    height: 80vh; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.infoimg img{
    width: 400px;
    height: 400px;
}

.infotxt{
    padding-right: 100px;
    width: 50%;
}

.infotxt h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 40px;
    font-size: 50px;
    color: #029bf9;
    -webkit-text-stroke: 2px black; /* Borde alrededor del texto */
}

.infotxt h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}
.tupapa{
    display: flex;
    justify-content: center;
}
.yusexual{
    display: flex;
    justify-content: center;
    height: 100px;
   
}
.cta {
    
    border: none;
    background: none;
    cursor: pointer;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: center;
    text-align: center;
  
}

.cta span {
    
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 14px;
    padding-right: 15px;
    text-transform: uppercase;
}

.cta svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
}

.cta:hover svg {
    transform: translateX(0);
}

.cta:active svg {
    transform: scale(0.9);
}

.hover-underline-animation {
    position: relative;
    color: black;
    padding-bottom: 20px;
}

.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.Container-card{
    display: flex;
    justify-content: flex-start;
    padding-left: 50px;
    padding-bottom: 100px;
    
}
.card{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border: 1px solid #e8e4e4;
    
}
.card li{
    list-style: none;
}
.container-img-info{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.img{
    text-align: center;
}
.info-mueble p{
    display: flex;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    margin-top: 100px; 
    padding-right: 80px;
    margin-bottom: 30px;
}
.card-body{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    width: 450px;
    height: 350px;
    
}
.card-body .mb-3 {
    
  margin-right: 20px;
    
}
.card-body .mb-3 h2{
    
  padding-top:20px;
    
}
.card-body .mb-3 #cliente{
   
  margin-bottom:120px;
    
}
.card-body .mb-3 #lcliente{
   
  margin-top:66px;
    
}
input[type="number"] {
    width: 60px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    text-align: center;
    
}
.linea-div{
    margin-top: 20px;
    border: 1px solid #e8e4e4;
   
}
.button {
    --primary: #ff5569; /* Accent color */
    --neutral-1: #2e2e2e; /* Dark background */
    --neutral-2: #1a1a1a; /* Darker background */
    --radius: 14px;

    cursor: pointer;
    border-radius: var(--radius);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    border: none;
    box-shadow: 0 0.5px 0.5px 1px rgba(0, 0, 0, 0.2),
        0 10px 20px rgba(0, 0, 0, 0.2), 0 4px 5px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 0.3s ease;
    width: 150px;
    padding: 20px;
    height: 40px;
    font-family: "Galano Grotesque", Poppins, Montserrat, sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff; /* Text color */
    background: var(--neutral-1); /* Button background */
    margin-top: 15px;
}
.button:hover {
    transform: scale(1.02);
    box-shadow: 0 0 1px 2px rgba(255, 255, 255, 0.3),
        0 15px 30px rgba(0, 0, 0, 0.3), 0 10px 3px -3px rgba(0, 0, 0, 0.04);
}
.button:active {
    transform: scale(1);
    box-shadow: 0 0 1px 2px rgba(255, 255, 255, 0.3),
        0 10px 3px -3px rgba(0, 0, 0, 0.2);
}
.button:after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: var(--radius);
    border: 2.5px solid transparent;
    background: linear-gradient(var(--neutral-1), var(--neutral-2)) padding-box,
        linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.45))
        border-box;
    z-index: 0;
    transition: all 0.4s ease;
}
.button:hover::after {
    transform: scale(1.05, 1.1);
    box-shadow: inset 0 -1px 3px 0 rgba(50, 50, 50, 1); /* Adjusted shine colour to a darker tone */
}

.button::before {
    content: "";
    inset: 7px 6px 6px 6px;
    position: absolute;
    background: linear-gradient(to top, var(--neutral-1), var(--neutral-2));
    border-radius: 30px;
    filter: blur(0.5px);
    z-index: 2;
}
.state p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
     padding-top: 13px;
}
.state .icon {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
   
    margin: auto;
    transform: scale(1.25);
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}
.state .icon svg {
    overflow: visible;
}

/* Outline */
.outline {
    position: absolute;
    border-radius: inherit;
    overflow: hidden;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.4s ease;
    inset: -2px -3.5px;
}
.outline::before {
    content: "";
    position: absolute;
    inset: -100%;
    background: conic-gradient(
        from 180deg,
        transparent 60%,
        rgb(22, 22, 22) 80%,
        transparent 100%
        );
    animation: spin 2s linear infinite;
    animation-play-state: paused;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.button:hover .outline {
    opacity: 1;
}
.button:hover .outline::before {
    animation-play-state: running;
}

/* Letters */
.state p span {
    display: block;
    opacity: 0;
    animation: slideDown 0.8s ease forwards calc(var(--i) * 0.03s);
}
.button:hover p span {
    opacity: 1;
    animation: wave 0.5s ease forwards calc(var(--i) * 0.02s);
}
.button:focus p span {
    opacity: 1;
    animation: disapear 0.6s ease forwards calc(var(--i) * 0.03s);
}
@keyframes wave {
    30% {
        opacity: 1;
        transform: translateY(4px) translateX(0) rotate(0);
    }
    50% {
        opacity: 1;
        transform: translateY(-3px) translateX(0) rotate(0);
        color: var(--primary);
    }
    100% {
        opacity: 1;
        transform: translateY(0) translateX(0) rotate(0);
    }
}
@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-20px) translateX(5px) rotate(-90deg);
        color: var(--primary);
        filter: blur(5px);
    }
    30% {
        opacity: 1;
        transform: translateY(4px) translateX(0) rotate(0);
        filter: blur(0);
    }
    50% {
        opacity: 1;
        transform: translateY(-3px) translateX(0) rotate(0);
    }
    100% {
        opacity: 1;
        transform: translateY(0) translateX(0) rotate(0);
    }
}
@keyframes disapear {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translateX(5px) translateY(20px);
        color: var(--primary);
        filter: blur(5px);
    }
}

/* Plane */
.state--default .icon svg {
    animation: land 0.6s ease forwards;
}
.button:hover .state--default .icon {
    transform: rotate(45deg) scale(1.25);
}
.button:focus .state--default svg {
    animation: takeOff 0.8s linear forwards;
}
.button:focus .state--default .icon {
    transform: rotate(0) scale(1.25);
}
@keyframes takeOff {
    0% {
        opacity: 1;
    }
    60% {
        opacity: 1;
        transform: translateX(70px) rotate(45deg) scale(2);
    }
    100% {
        opacity: 0;
        transform: translateX(160px) rotate(45deg) scale(0);
    }
}
@keyframes land {
    0% {
        transform: translateX(-60px) translateY(30px) rotate(-50deg) scale(2);
        opacity: 0;
        filter: blur(3px);
    }
    100% {
        transform: translateX(0) translateY(0) rotate(0);
        opacity: 1;
        filter: blur(0);
    }
}

/* Contrail */
.state--default .icon:before {
    content: "";
    position: absolute;
    top: 50%;
    height: 2px;
    width: 0;
    left: -5px;
    background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.5));
}
.button:focus .state--default .icon:before {
    animation: contrail 0.8s linear forwards;
}
@keyframes contrail {
    0% {
        width: 0;
        opacity: 1;
    }
    8% {
        width: 15px;
    }
    60% {
        opacity: 0.7;
        width: 80px;
    }
    100% {
        opacity: 0;
        width: 160px;
    }
}

/* States */
.state {
    padding-left: 29px;
    z-index: 2;
    display: flex;
    position: relative;
}
.state--default span:nth-child(6) {
    margin-right: 5px;
}
.state--sent {
    display: none;
}
.state--sent svg {
    transform: scale(1.25);
    margin-right: 8px;
}
.button:focus .state--default {
    position: absolute;
}
.button:focus .state--sent {
    display: flex;
}
.button:focus .state--sent span {
    opacity: 0;
    animation: slideDown 0.8s ease forwards calc(var(--i) * 0.2s);
}
.button:focus .state--sent .icon svg {
    opacity: 0;
    animation: appear 1.2s ease forwards 0.8s;
}
@keyframes appear {
    0% {
        opacity: 0;
        transform: scale(4) rotate(-40deg);
        color: var(--primary);
        filter: blur(4px);
    }
    30% {
        opacity: 1;
        transform: scale(0.6);
        filter: blur(1px);
    }
    50% {
        opacity: 1;
        transform: scale(1.2);
        filter: blur(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/* RESPONSIVE*/

@media(max-width: 768px){
    /* HEADER */
    .mostrar-menu,
    .esconder-menu{
        display: block;
    }
    
    header{
        height: 100px;
        background-color: #029bf9;
        padding: 0 10px;
        color: #011d45;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #029bf9;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 100px 0px;
        z-index: 100;
        transition: 0.8s;
    }

    .menu ul li{
        display: block;
        padding: 20px;
    }

    .esconder-menu{
        position: absolute;
        top: 40px;
        right: 40px;
    }

    #check:checked ~ .menu{
        right: 0;
    }

    #contenedorcarrusel{
        height: 250px;
        padding-left: 20px;
        padding-right: 20px;
        overflow: hidden;    
    }

    .tarjeta img{
        height: 100%;
        width: 100%;
    }

    /* PRODUCTOS RESPONSIVE */

    .container-item{
        padding: 40px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    /* PRODUCTOS SEPARADOS RESPONSIVE*/

    .item1 {
        width: 100%;
        height: 100%;
        background-color:white;
        display: flex;
        justify-content: center;
        flex-direction: column;    /* Apilar los elementos verticalmente */
               /* Centrado horizontal de los elementos dentro de item1 */
        padding: 50px;
        border-radius: 20px;
    }

    .item1 figure{
        color: white;
        display: flex;
        width: 300px;
        height: 300px;
        margin: auto;
        margin-top: 50px;
    }

    .info-producto1{
        display: flex;
        flex-direction: column;
        /*background-color: #029bf9;*/
        width: 100%;
        margin-top: 50px;
        margin-right: 50px;
    }

    /* SOBRE NOSOTROS RESPONSIVE */
.info{
    height: 80vh; 
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.infoimg img{
    width: 400px;
    height: 400px;
}

.infotxt{
    padding-right: 100px;
    width: 100%;
}

.infotxt h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 40px;
    font-size: 50px;
    color: #029bf9;
    -webkit-text-stroke: 2px black; /* Borde alrededor del texto */
}

.infotxt h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}

}